<!DOCTYPE html>
<html>
<head>
	<title>WebBee | Apprendre le HTML</title>

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

    <link rel="stylesheet" href="../css/html.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../font-awesome/css/font-awesome.css">

    <script type="text/javascript" src="../bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>

</head>
<body>
	<a href="../home.html" class="btn pull-right" style="border-radius: 100% 100% 100% 100%; background-color: blue; color: white;" title="Retour à la principale">
		<span class="fa fa-arrow-left"></span>
	</a>
	<div class="jumbotron">
		<div class="xs-text">
			Un petit coup d'oeil sur ce que vous pouvez faire avec du HTML uniquement
		</div>
		<video width="200">
			<source src="" type="">
		</video>
		<div class="xs-text">
			J'espère que vous êtes impressionnés, si ce n'est pas le cas alors je suis bien triste ! Oh Oui ! Si vous n'êtes pas impressionnés je suis attristé. Bon je reprends sur moi, je compte bien vous impressionnez <span class="fa fa-smile-o"></span><br/>
			On commence alors ? 
			<a href="#commencement" class="btn" style="background-color: blue; color: white; border-radius: 100% 100% 100% 100%;">
				<span class="fa fa-arrow-down"></span>
			</a>
		</div>
	</div>

	<div id="commencement">
		<div id="historique">
			<h1>Historique</h1>
		</div>
		<div id="">
			
		</div>
	</div>

	<footer>
		<ul class="pager">
			<li class="next">
				<a href="../view/css.html">Poursuivre avec le CSS</a>
			</li>
		</ul>
	</footer>
</body>
</html>